@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

* {
  scroll-behavior: smooth;
}

#contact-form {
  margin-left: 198px;
}

/*Hero Section-*/
#hero,
#hero-about,
#hero-work,
#hero-projects,
#hero-contact {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-bottom: -72px;
}

@media (max-width: 992px) {

  #hero,
  #hero-about,
  #hero-work,
  #hero-projects,
  #hero-contact {
    margin-bottom: -58px;
  }
}

.logo img,
.logo1 img {
  width: 220px;
  padding-bottom: 35px;
  filter: drop-shadow(0rem 0rem 0rem white);
  transition: all 0.3s ease-in-out;
}

.logo img:hover,
.logo1img:hover {
  filter: drop-shadow(0rem 0rem 1rem red);
}

.typer {
  color: white !important;
  font-weight: bold;
}

#hero:before {
  content: "";
  background: rgba(21, 5, 23, 0.5) linear-gradient(rgba(26, 0, 33, 0.5) 0%, rgba(26, 0, 33, 0.5) 5%, rgba(38, 6, 51, 0.5) 40%, rgba(147, 47, 69, 0.7) 76%, rgba(236, 97, 93, 0.7) 94%, rgba(236, 97, 93, 0.5) 100%) repeat scroll 0% 0%;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero-about:before {
  content: "";
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("img/bg10.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero-work::before {
  content: "";
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("img/bg15.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero-projects::before {
  content: "";
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("img/bg-about.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero-contact::before {
  content: "";
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("img/bg-contact.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container,
#hero-about .hero-container,
#hero-work .hero-container,
#hero-projects .hero-container,
#hero-contact .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1,
#hero-about h1,
#hero-work h1,
#hero-projects h1,
#hero-contact h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

#hero h2,
#hero-about h2,
#hero-work h2,
#hero-projects h2,
#hero-contact h2 {
  color: #eee;
  margin: 15px 0 0 0;
  font-size: 24px;
}

#hero .main-btn,
#hero-about .main-btn,
#hero-work .main-btn,
#hero-projects .main-btn,
#hero-contact .main-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 40px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 30px;
  border: 2px solid #fff;
  color: #fff;
}

.about-col .main-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 40px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 30px;
  border: 2px solid black;
  color: black;
}

#hero .main-btn:hover,
#hero-about .main-btn:hover,
#hero-work .main-btn:hover,
#hero-projects .main-btn:hover,
#hero-contact .main-btn:hover {
  background: #36004b;
  border: 2px solid #270136;
  text-decoration: none;
}

.about-col .main-btn:hover {
  background: orange;
  border: 2px solid blueviolet;
}

@media (min-width: 1024px) {

  #hero,
  #hero-about,
  #hero-work,
  #hero-projects,
  #hero-contact {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {

  #hero h1,
  #hero-about h1,
  #hero-work h1,
  #hero-projects h1,
  #hero-contact h1 {
    font-size: 30px;
    line-height: 36px;
  }

  #hero h2,
  #hero-about h2,
  #hero-work h2,
  #hero-projects h2,
  #hero-contact h2 {
    font-size: 18px;
    line-height: 24px;
  }

  #logo img,
  #logo1 img {
    width: 150px;
    padding-bottom: 25px;
  }

}

/*==============Nav=====*/
#navigation {
  background-color: #1d0227;
  padding: 20px 40px;
  z-index: 100;
  width: 100%;
}

#navigation li {
  padding: 0 10px;
}

#navigation li a {
  color: #fff;
  text-transform: uppercase;
}

#navigation li a:hover {
  color: red;
  transition: 1s;
}

.navbar-brand,
.navbar-brand:hover {
  color: #fff;
  font-weight: bold;
}

/*-
# Header Social Link------*/
.header-social-links {
  padding-left: 20px;
}

.header-social-links a {
  color: #fff;
  padding-left: 6px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

.header-social-links a:hover {
  color: #ff7f5d;
}

@media (max-width: 768px) {
  .header-social-links {
    padding: 0 48px 0 0;
  }
}

.navbar-toggler i {
  color: #fff;
}

.navbar-toggler {
  outline: none !important;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
}

/*========== end of Navbar=======*/
/*====Services Section======*/
.services {
  padding-bottom: 30px;
}

.services .des-box {
  padding: 60px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 30px 0 35px 0 rgba(32, 1, 73, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  text-align: center;
}

.services .des-box::before {
  content: '';
  position: absolute;
  background: #fdeff2;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.4s;
  z-index: -1;
}

.services .des-box:hover::before {
  background: #1d0227;
  top: 0;
  border-radius: 0px;
}

.services .icon {
  margin-bottom: 15px;
}

.services .icon i {
  font-size: 48px;
  line-height: 1;
  color: #ec042e;
  transition: all 0.3s ease-in-out;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #111;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.services .des-box:hover .title a,
.services .des-box:hover .description {
  color: #fff;
}

.services .des-box:hover .icon i {
  color: #fff;
}

/*========end of Services ========*/
/* Counter project style starts*/
.project {
  background-image: linear-gradient(rgba(21, 1, 48, 0.5), rgba(243, 87, 87, 0.7)),
    url(./img/bg5.jpg);
  background-position: center;
  padding-top: 180px;
  padding-bottom: 200px;
  color: white;
  background-attachment: fixed;
  margin-top: 100px;

}


.project i {
  font-size: 85px;

}



.project-items h2 {
  font-weight: bolder;
  font-size: 42px;
  color: #fff;
}

.project p {
  font-weight: bold;
  letter-spacing: 1px;
}

/*=======================================
        Counter project style Ends
=========================================*/
/*====Gallery====*/
.gallery-list-item {
  color: #000;
  cursor: pointer;
  user-select: none;
}

.active-item {
  color: #55012bee;
}

/*===End of Gallery===*/
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.section-bg {
  background-image: linear-gradient(rgba(21, 1, 48, 0.5), rgba(243, 87, 87, 0.7)),
    url(./images/bg.jpg);
  background-position: center;
  color: white;
  background-attachment: fixed;
  margin-top: 100px;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #0f394c;
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  background: rgba(35, 0, 75, 0.8);
  display: inline-block;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.team .member .social a:hover {
  background: #76c7ed;
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #0f394c;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}

/*--------------------------------------------------------------
# Footer

--------------------------------------------------------------*/

#footer .footer-top {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 80px 0;
}

#footer .footer-top h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  padding-bottom: 0;
  margin-bottom: 0;
}

#footer .footer-top p {
  font-size: 15;
  font-style: italic;
  margin: 30px 0 0 0;
  padding: 0;
}

#footer .footer-top .footer-newsletter {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

#footer .footer-top .footer-newsletter form {
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #200124;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: #ee463a;
}

#footer .footer-top .social-links {
  margin-top: 30px;

}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #200124;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #ee463a;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  border-top: 1px solid #200124;
  z-index: 2;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
  font-size: 13px;
}

@media (max-width: 768px) {

  #footer .copyright,
  #footer .credits {
    float: none;
    text-align: center;
  }

  #footer .credits {
    padding-top: 5px;
  }
}

/*----------- ABOUT US PAGE -------------*/
.about-us {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.about-col img {
  width: 100%;
}

.about-col h1 {
  padding-top: 0;
}

.about-col p {
  padding: 15px 0 25px;
}

.margin-about {
  margin-top: -80px;
}

@media (max-width: 768px) {
  .heading h1 {
    font-size: 25px;
    text-align: center;
  }

  .about-us {
    width: 80%;
    text-align: center;
  }

  .about-col {
    flex-basis: 100%;
  }
}

/* CONTACT US PAGE */
@media (max-width: 768px) {
  .mid-text {
    width: 80%;
    margin: auto;
    text-align: left;
  }
}


/*------------ PROJECT PAGE ---------*/
.img img {
  height: 150px;
  width: 100%;
}

div [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.card {
  transition: 0.5s;
  cursor: pointer;
  padding: 20px;
  margin: 10px 0;
}

.card-title {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
}

.card-title i {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
  color: #ffa710
}

.card-title i:hover {
  transform: scale(1.25) rotate(100deg);
  color: #18d4ca;

}

.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-text {
  height: 80px;
}

.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}

.card::before {
  transform-origin: left top;
}

.card::after {
  transform-origin: right bottom;
}

.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}

@media (max-width: 768px) {
  .card {
    transition: 0.5s;
    cursor: pointer;
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
  }
}


/*--------- WORK PAGE ----------*/

.background-1 {
  background-color: antiquewhite;
  padding-top: 150px;
  padding-bottom: 30px;
}

.background-2 {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: aquamarine;
}

@media (max-width: 768px) {
  .background-1 {
    padding-top: 150px;
    padding-bottom: 30px;
    font-size: 5px;
    padding-top: 120px;
  }
}

.my-card {
  position: absolute;
  left: 40%;
  top: -20px;
  border-radius: 50%;
}

.jumbotron {
  text-align: -webkit-center;
}



/* Download BUTTON */

@-webkit-keyframes orbit {
  0% {
    -webkit-transform: rotateY(90deg) rotate(0deg);
  }

  60% {
    -webkit-transform: rotateY(90deg) rotate(-180deg);
  }

  100% {
    -webkit-transform: rotateY(90deg) rotate(-360deg);
  }
}

@-moz-keyframes orbit {
  0% {
    -moz-transform: rotateY(90deg) rotate(0deg);
  }

  60% {
    -moz-transform: rotateY(90deg) rotate(-180deg);
  }

  100% {
    -moz-transform: rotateY(90deg) rotate(-360deg);
  }
}

@keyframes orbit {
  0% {
    -webkit-transform: rotateY(90deg) rotate(0deg);
    -moz-transform: rotateY(90deg) rotate(0deg);
    -ms-transform: rotateY(90deg) rotate(0deg);
    -o-transform: rotateY(90deg) rotate(0deg);
    transform: rotateY(90deg) rotate(0deg);
  }

  60% {
    -webkit-transform: rotateY(90deg) rotate(-180deg);
    -moz-transform: rotateY(90deg) rotate(-180deg);
    -ms-transform: rotateY(90deg) rotate(-180deg);
    -o-transform: rotateY(90deg) rotate(-180deg);
    transform: rotateY(90deg) rotate(-180deg);
  }

  100% {
    -webkit-transform: rotateY(90deg) rotate(-360deg);
    -moz-transform: rotateY(90deg) rotate(-360deg);
    -ms-transform: rotateY(90deg) rotate(-360deg);
    -o-transform: rotateY(90deg) rotate(-360deg);
    transform: rotateY(90deg) rotate(-360deg);
  }
}

.button {
  display: inline-block;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  position: relative;
  padding: 20px 30px 20px 70px;
  background: rgba(60, 162, 162, 0.6);
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.button:hover {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
  color: rgba(0, 0, 0, 0.8);
  background: rgba(60, 162, 162, 0.8);
}

.button:hover span {
  -webkit-transition: all 800ms ease-in-out;
  -moz-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
  -webkit-transform: rotateY(90deg) rotate(-360deg);
  -moz-transform: rotateY(90deg) rotate(-360deg);
  -ms-transform: rotateY(90deg) rotate(-360deg);
  -o-transform: rotateY(90deg) rotate(-360deg);
  transform: rotateY(90deg) rotate(-360deg);
}

.button span {
  width: 80px;
  display: block;
  position: absolute;
  left: 0;
  top: -40px;
  bottom: -40px;
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(90deg) rotate(0deg);
  -moz-transform: rotateY(90deg) rotate(0deg);
  -ms-transform: rotateY(90deg) rotate(0deg);
  -o-transform: rotateY(90deg) rotate(0deg);
  transform: rotateY(90deg) rotate(0deg);
}

.button span span {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  width: 16px;
  height: 17px;
  left: 0;
  top: 50px;
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}

.button span span::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  margin-left: -7px;
  border-top: 16px solid rgba(0, 0, 0, 0.6);
  border-bottom: 0 solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

/* h */