<!doctype html>
<html lang="en">
  <head>
    <title>More About Us</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <!-- ======= Hero Section ======= -->
  <section id="hero-about">
    <div class="hero-container logo">
        <img src="/static/img/Picture1.png" style="padding-bottom: 35px;">
      <h1>About Us</h1>
      <a href="/contact-us" class="main-btn">Get In Touch</a>
    </div>
  </section>
  <!-- End Hero -->
        <!--Nav Bar-->
{% include 'header.html'%}
<!--End of Navbar-->
  
<!-- About Us Page -->
<section class="about-us">
  <div class="row">
    <div class="about-col heading">
      <h1>Why Vishal Contractors & Developers ?</h1>
      <p>The Group continuously aims at keeping itself abreast with changing global and national
        trends and staying current with technological advances. This mix of innovative ideas,
        planning initiatives and use of cutting edge technologies has enabled the company to
        stay ahead of competition. The company aims at building splendiferous developments
        for its customers and endeavors to build itself into a professional Construction Company
        with international management standards</p>
        <a href="" class="main-btn" style="text-decoration: none;">EXPLORE NOW</a>
    </div>
    <div class="about-col">
      <img src="/static/img/about.jpg">
    </div>
  </div>
</section>
<section class="about-us">
  <div class="container margin-about">
    <div class="about-col heading">
      <h1> LIST OF PLANTS & EQUIPMENTS OWNED BY THE FIRM</h1>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Particular</th>
          <th scope="col">No.</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Construction Lift up to 29 story</td>
          <td>11</td>
         
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Monkey Crane</td>
          <td>15</td>
         
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Laboratory Testing</td>
          <td>All</td>
          
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Cube Testing Machine</td>
          <td>01</td>
          
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Compactor</td>
          <td>04</td>
          
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Electrical Vibrator</td>
          <td>25</td>
          
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Bar Cutter Machine</td>
          <td>10</td>
          
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Bar Binding Machine</td>
          <td>10</td>
          
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Vibrator Nozzle (40mm,50mm & 60mm)</td>
          <td>50</td>
          
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Generator sets 7.50-82KVA</td>
          <td>04</td>
          
        </tr>
        <tr>
          <th scope="row">11</th>
          <td>Scaffolding Cup Lock System</td>
          <td>5000 Sqm.</td>
          
        </tr>
        <tr>
          <th scope="row">12</th>
          <td>Shuttering (Steel Plate)</td>
          <td>11000 Nos</td>
          
        </tr>
        <tr>
          <th scope="row">13</th>
          <td>Shuttering Props</td>
          <td>5000 Nos</td>
          
        </tr>
        <tr>
          <th scope="row">14</th>
          <td>Aluminum Shuttering</td>
          <td>500 Sqm.</td>
          
        </tr>
        
      </tbody>
    </table>
  </div>
</section>

 
<!-- ======= Footer ======= -->
{% include 'footer.html'%}
<!-- End Footer -->


     <!--Javascript-->
     <script src="/static/script.js"></script>
        
      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>