<footer id="footer" class="mt-2">

    <div class="footer-top">
  
      <div class="container">
  
        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3 class="text-dark">Vishal Contractors & Developers</h3>
            <p>Vishal Contractors & Developers Pvt. Ltd. was established in early 2004 with the name
              Vishal Buildtech...</p>
              <p class="text-center text-success" style="margin-top: 0px; font-weight: bold;">GSTIN. 09AAFCV08******</p>
              <p class="text-center text-danger" style="margin-top: 0px; font-weight: bold;">Registration with PAN No. **********
                Income tax</p>
          </div>
        </div>
  
        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <div class="download">
              <a href="download.pdf" download="VCDPL" style="text-decoration: none;color: black;">
              <div class="button">
                Download PDF!
                <span>
                  <span></span>
                </span>
              </div>
            </a>
          </div>
          </div>
        </div>
  
        <div class="social-links">
          <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
          <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
          <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
        </div>
  
      </div>
    </div>
  
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>vcdpl.com </span></strong>All Rights Reserved
      </div>
      <div class="credits">
      
        Designed by Harsh
      </div>
    </div>
  </footer>