<!doctype html>
<html lang="en">
  <head>
    <title>Vishal Development</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="icon" type="img/x-icon" href="/static/img/favicon.ico">

  </head>
  <body>
    <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container logo">
        <img src="/static/img/Picture1.png" style="padding-bottom: 35px;">
      <h1>Vishal Contractors & Developers</h1>
      <h2>BUILDERS | CONTRACTORS | ENGINEERS</h2>
      <a href="#services" class="main-btn">Get Started</a>
    </div>
  </section>
  <!-- End Hero -->
  <!--Nav Bar-->
{% include 'header.html'%}
  <!--End of Navbar-->
  <!--Services-->
  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2 class="text-center py-5">Services</h2>
       
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
          <div class="des-box">
            <div class="icon"><i class="fas fa-cubes"></i></div>
            <h4 class="title"><a href="">All Civil Work Pertaining</a></h4>
            <p class="description">Indrustial Building, Residental Building, Hospitals, Multiplexes and Shopping mall's, Institutional Building.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-down">
          <div class="des-box">
            <div class="icon"><i class="far fa-edit"></i></div>
            <h4 class="title"><a href="">All Services Such As</a></h4>
            <p class="description"> Fire Fighting Work, Ext. Development Work, Road, Drainage and Sewerage Work.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
          <div class="des-box">
            <div class="icon"><i class="fas fa-th"></i></div>
            <h4 class="title"><a href="">Other services  </a></h4>
            <p class="description">Mass Earth Work With Heavy Machines and Heavy Fabrication Work</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-down">
          <div class="des-box">
            <div class="icon"><i class="fas fa-archway"></i></div>
            <h4 class="title"><a href="">Building</a></h4>
            <p class="description">Electrical Work, Plumbing Work, All building maintenance.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->
  <!---end of Services-->
  <!------------Counter projects Markup Starts-------------> 
      
      <section class="project " id="projects">
        <div class="content-box">
                    <div class="container">
                <div class="row text-center">
                    <div class="col-md-3"> 
                        <div class="project-items">
                            <i class="fas fa-people-carry"></i>
                            <h2><span class="counter text-center ">92</span></h2>
                            
                        </div>
                        
                    </div>
                       
                       <div class="col-md-3"> 
                        <div class="project-items">
                            <i class="fas fa-city"></i>
                            <h2><span class="counter text-center">700</span> </h2>
                            
                        </div>
                        
                    </div>
                       
                       <div class="col-md-3"> 
                        <div class="project-items">
                            <i class="fas fa-truck-loading"></i>
                            <h2>
                              <span class="counter text-center">119</span>
                               </h2>
                           
                        </div>
                        
                    </div>
                                             
                       <div class="col-md-3"> 
                        <div class="project-items">
                            <i class="fas fa-truck"></i>
                            <h2><span class="counter text-center">400</span> </h2>
                           
                        </div>
                        
                    </div>
                </div>
                
            </div>
            
        </div>          
                    
    </section>

  <!---GAllery SEction-->
  <section class="py-5">
    <div class="container-fluid">
      <!--title-->
      <div class="row text-dark text-center">
        <div class="col m-4">
          <h1 class="display-4 mb-4">
            Gallery
          </h1>
          <div class="underline-dark mb-4"></div>
               </div>
            </div>
      <!--End of title-->
      <ul class="list-inline text-center text-uppercase">
        <li class="list-inline-item gallery-list-item active-item" data-filter="all">
          <span class="mx-3">All</span>
        </li>
        <li class="list-inline-item gallery-list-item" data-filter="commercial">
          <span class="mx-3">Commercial</span> 
        </li>
        <li class="list-inline-item gallery-list-item" data-filter="housing">
          <span class="mx-3">Housing</span>
        </li>
        <li class="list-inline-item gallery-list-item" data-filter="lorem">
          <span class="mx-3">Lorem</span>
        </li>
      </ul>
      <div class="container-fluid">
        <div class="d-flex flex-wrap justify-content-center">
          <div class="filter commercial" data-aos="fade-up">
            <img src="/static/img/Picture2.jpg" width="300" height="300px">
          </div>
          <div class="filter housing"  data-aos="fade-down">
            <img src="/static/img/Picture3.jpg" width="300" height="300px">
          </div>
          <div class="filter commercial"  data-aos="fade-up">
            <img src="/static/img/Picture4.jpg" width="300" height="300px">
          </div>
          <div class="filter housing"  data-aos="fade-down">
            <img src="/static/img/Picture5.jpg" width="300" height="300px">
          </div>
          <div class="filter commercial"  data-aos="fade-up">
            <img src="/static/img/Picture6.jpg" width="300" height="300px">
          </div>
          <div class="filter lorem"  data-aos="fade-down">
            <img src="/static/img/Picture7.jpg" width="300" height="300px">
          </div>
          <div class="filter lorem"  data-aos="fade-up">
            <img src="/static/img/Picture8.jpg" width="300" height="300px">
          </div>
          <div class="filter lorem"  data-aos="fade-down">
            <img src="/static/img/Picture9.jpg" width="300" height="300px">
          </div>
          <div class="filter housing"  data-aos="fade-up">
            <img src="/static/img/Picture10.jpg" width="300" height="300px">
          </div>
          <div class="filter lorem"  data-aos="fade-down">
            <img src="/static/img/Picture11.jpg" width="300" height="300px">
          </div>
          <div class="filter commercial"  data-aos="fade-up">
            <img src="/static/img/Picture12.jpg" width="300" height="300px">
          </div>
          <div class="filter commercial"  data-aos="fade-down">
            <img src="/static/img/Picture13.jpg" width="300" height="300px">
          </div>
          <div class="filter commercial"  data-aos="fade-up">
            <img src="/static/img/Picture14.jpg" width="300" height="300px">
          </div>
          <div class="filter commercial"  data-aos="fade-down">
            <img src="/static/img/Picture15.jpg" width="300" height="300px">
          </div>
          <div class="filter commercial"  data-aos="fade-up">
            <img src="/static/img/Picture16.jpg" width="300" height="300px">
          </div>
        </div>
      </div>
    </div>
  </section>
<hr>
  
  <!---end fo Gallery Section-->

<!-- ======= Footer ======= -->
{% include 'footer.html'%}
<!-- End Footer -->


     <!--Javascript-->
     <script src="script.js"></script>
        
      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 150,
        duration: 700
      }
        
      );
    </script>
  </body>
</html>