<!doctype html>
<html lang="en">

<head>
  <title>Our Projects</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero-projects">
    <div class="hero-container logo">
      <img src="/static/img/Picture1.png" style="padding-bottom: 35px;">
      <h1>Our Project</h1>
      <a href="/work" class="main-btn">More Details</a>
    </div>
  </section>
  <!-- End Hero -->
    <!--Nav Bar-->

     
    {% include 'header.html'%}
    <!--End of Navbar-->

  <!-- PROJECTS-1  -->
  <div class="container mt-2" style="padding-top: 150px;">
  <div class="heading text-center" style="padding-bottom: 35px ;">
    <h1 class="text-center" style="font-weight: bold;">Our Timely Completed Project</h1>
  </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 img"  data-aos="fade-up">
        <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">VCDPL</i></h4>
          <img src="/static/img/Picture2.jpg" alt="Photo of sunset">
          <h5 class="card-title mt-3 mb-3">Saviour Park Mohan Nagar
            Tower B & D</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 img"  data-aos="fade-down">
        <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">VCDPL</i></h4>
          <img src="/static/img/Picture3.jpg" alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3">Panchsheel Green -1st
            Tower A & B</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 img"  data-aos="fade-up">
        <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">VCDPL</i></h4>
          <img src="/static/img/Picture4.jpg" alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3">1st Phase Panchsheel
            Green -2nd,Tower B & C</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 img"  data-aos="fade-down">
        <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">VCDPL</i></h4>
          <img src="/static/img/Picture5.jpg" alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3">Gaur Cascades
            Tower C & B</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 img"  data-aos="fade-up">
        <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">VCDPL</i></h4>
          <img src="/static/img/Picture6.jpg" alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3">Ajnara GenX
            Tower B & H</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 img"  data-aos="fade-down">
        <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">VCDPL</i></h4>
          <img src="/static/img/Picture7.jpg" alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3">Wellington
            Club House</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 img"  data-aos="fade-up">
        <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">VCDPL</i></h4>
          <img src="/static/img/Picture8.jpg" alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3">Panchsheel Green 1st
            Greenaria</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 img"  data-aos="fade-down">
        <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">VCDPL</i></h4>
          <img src="/static/img/Picture9.jpg" alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3">Wellington
            Tower R1,R3 & R4</h5>
        </div>
      </div>
    </div>

  </div>
<hr>

  <!-- PROJECTS-2  -->
  <div class="container mt-2" style="padding-top: 20px;">
  <div class="heading text-center" style="padding-bottom: 35px ;">
    <h1 class="text-center" style="font-weight: bold;">Our On-Going Project</h1>
  </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 img"  data-aos="fade-up">
        <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">VCDPL</i></h4>
          <img src="/static/img/Picture11.jpg" alt="Photo of sunset">
          <h5 class="card-title mt-3 mb-3">Wellington Phase 2nd
            Tower R7 & R8</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 img"  data-aos="fade-down">
        <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">VCDPL</i></h4>
          <img src="/static/img/Picture12.jpg" alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3">Kalpatru MIG V
            Tower A</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 img"  data-aos="fade-up">
        <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">VCDPL</i></h4>
          <img src="/static/img/Picture13.jpg" alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3">Oberoi Garden City
            Tower A</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 img"  data-aos="fade-down">
        <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">VCDPL</i></h4>
          <img src="/static/img/Picture16.jpg" alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3">Jasmine Grove
            Tower B & C</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 img"  data-aos="fade-up">
        <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">VCDPL</i></h4>
          <img src="/static/img/Picture20.jpg" alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3">Panchsheel Green 2nd
            Tower E</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 img"  data-aos="fade-down">
        <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">VCDPL</i></h4>
          <img src="/static/img/Picture21.jpg" alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3">Ajnara Grand Heritage
            Tower K & K1</h5>
        </div>
      </div>
      
    </div>

  </div>
  <hr>


  <!-- ======= Footer ======= -->
     
  {% include 'footer.html'%}
  <!-- End Footer -->


  <!--Javascript-->
  <script src="/static/script.js"></script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 200,
        duration: 700
      }
      );
    </script>
</body>

</html>