<!doctype html>
<html lang="en">

<head>
  <title>vcdpl | Work</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- ======= Hero Section ======= -->

  <section id="hero-work">
    <div class="hero-container logo">
      <img src="/static/img/Picture1.png" alt="">
      <h1>Our Work Details</h1>
      <a href="#table" class="main-btn">Get Started</a>
    </div>
  </section>
  <!-- End Hero -->
    <!--Nav Bar-->

     
    {% include 'header.html'%}
    <!--End of Navbar-->

   <!-- Big work -->
   <div class="background-1" id="table">
<div class="container text-center">
  <div class="heading" >
    <h1 class="h1-responsive" style="padding-bottom: 30px;font-weight: bold;">List Of Projects</h1>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name Of Project</th>
        <th scope="col">Contract Value</th>
        <th scope="col">Client</th>
        <th scope="col">Nature</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Panchsheel Green-2nd,Tower B3,B4,B5,B6,B7,C2,C3,C4,E1,E2,E3,D1,D2,& STP</td>
        <td>5720 Lac</td>
        <td>Panchsheel Buildtech Pvt.Ltd</td>
        <td>Residential</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Panchsheel Green-1ST
          Tower
          A1,A2,A3,A4,B1,B2,B3
          CLUB & COMMERCIAL</td>
        <td>2700 Lac</td>
        <td>Panchsheel
          Buildtech
          Pvt.Ltd</td>
          <td>Residential</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Wellington Tower
          R1,R3,R4,Club & Well
          Bazaar</td>
        <td>2500 Lac</td>
        <td>Panchsheel
          Buildtech
          Pvt.Ltdr</td>
          <td>Residential &
            Commercial</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Gaur Cascades Tower
          B & C</td>
        <td>1500 Lac</td>
        <td>Gaur Sons India
          Ltd</td>
          <td>Residential</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Saviour Park Tower
          B1,B2,B3 & D</td>
        <td>1500 Lac</td>
        <td>Savfab
          Buildtech
          Pvt.Ltd</td>
          <td>Residential</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Jasmine Grove Tower
          B
          & C</td>
        <td>1400 Lac</td>
        <td>Savfab
          Developers
          Pvt.Ltd</td>
          <td>Residential</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Gaur Home Tower -B</td>
        <td>550 lac</td>
        <td>Gaur Sons India
          Ltd</td>
          <td>Residential</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Grand Heritage TowerK,K & Commercial</td>
        <td>800 Lac</td>
        <td>Ajnara india Ltd</td>
          <td>Residential</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <br>
  <hr>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name Of Project</th>
        <th scope="col">Contract Value</th>
        <th scope="col">Client</th>
        <th scope="col">Nature</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">9</th>
        <td>Ajnara Gen X Tower
          B & H</td>
        <td>400 Lac</td>
        <td>Ajnara india Ltd</td>
        <td>Residential</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>B-173,Sector-14 ,
          Noida</td>
        <td>70 Lac</td>
        <td>Pratibha Singh</td>
        <td>Individual
          Villa</td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td>D-295 Sector-47,
          Noida</td>
        <td>105 Lac</td>
        <td>Harsh varma</td>
        <td>Individual
          Villa</td>
      </tr>
      <tr>
        <th scope="row">12</th>
        <td>Klapataru MIG V
          Tower A</td>
        <td>20 Lac</td>
        <td>Capacite infra
          Ltd</td>
          <td>Residential</td>
      </tr>
      <tr>
        <th scope="row">13</th>
        <td>Oberoi Garden City
          Tower A</td>
        <td>200 Lac</td>
        <td>Capacite infra
          Ltd</td>
          <td>Individual
            Villa</td>
      </tr>
      <tr>
        <th scope="row">14</th>
        <td>338, Niti khand ,
          Indrapuram</td>
        <td>55 Lac</td>
        <td>N K Tomar</td>
          <td>Individual
            Villa</td>
      </tr>
      <tr>
        <th scope="row">15</th>
        <td>SPS Residency Tower
          F,G 7 & H</td>
        <td>200 Lac</td>
        <td>Panchsheel
          Promoters</td>
          <td>Residential</td>
      </tr>
      <tr>
        <th scope="row">16</th>
        <td>Plot No 17,18
          Pashupati
          Nath nagar Jaipur</td>
        <td>670 Lac</td>
        <td>Bestcon
          Promoters</td>
          <td>Residential
            & Vills</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

<!-- TEAM CONTENT -->
<div class="background-2">
  <div class="container">
    <div class="heading">
      <h1 class="text-center h1-responsive" style="font-weight: bold;">List Of Our Staff</h1>
    </div>
    <div class="jumbotron" style="background-color: aquamarine;">
      <div class="row w-100">
        <div class="col-md-3">
          <div class="card border-warning mx-sm-1 p-3">
             
              <div class="text-warning text-center mt-3"><h4>Directors</h4></div>
              <div class="text-dark text-center mt-2"><h1>02</h1></div>
          </div>
      </div>
              <div class="col-md-3">
                  <div class="card border-info mx-sm-1 p-3">
                      
                      <div class="text-info text-center mt-3"><h4>Site Cordinator</h4></div>
                      <div class="text-dark text-center mt-2"><h1>03</h1></div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="card border-success mx-sm-1 p-3">
                      
                      <div class="text-success text-center mt-3"><h4>General Manager</h4></div>
                      <div class="text-dark text-center mt-2"><h1>02</h1></div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="card border-danger mx-sm-1 p-3">
                      
                      <div class="text-danger text-center mt-3"><h4>Project Manager</h4></div>
                      <div class="text-dark text-center mt-2"><h1>03</h1></div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="card border-warning mx-sm-1 p-3">
                      
                      <div class="text-warning text-center mt-3"><h4>Civil Engineers</h4></div>
                      <div class="text-dark text-center mt-2"><h1>10</h1></div>
                  </div>
              </div>
              <div class="col-md-3">
                <div class="card border-warning mx-sm-1 p-3">
                    
                    <div class="text-info text-center mt-3"><h4>Civil Foreman</h4></div>
                    <div class="text-dark text-center mt-2"><h1>20</h1></div>
                </div>
            </div>
            <div class="col-md-3">
              <div class="card border-warning mx-sm-1 p-3">
                  
                  <div class="text-success text-center mt-3"><h4>Civil Engineers</h4></div>
                  <div class="text-dark text-center mt-2"><h1>10</h1></div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="card border-warning mx-sm-1 p-3">
                
                <div class="text-danger text-center mt-3"><h4>Civil Supervisors</h4></div>
                <div class="text-dark text-center mt-2"><h1>30</h1></div>
            </div>
        </div>
        <div class="col-md-3">
          <div class="card border-warning mx-sm-1 p-3">
              
              <div class="text-warning text-center mt-3"><h4>Electrical Staff</h4></div>
              <div class="text-dark text-center mt-2"><h1>06</h1></div>
          </div>
      </div>
      <div class="col-md-3">
        <div class="card border-warning mx-sm-1 p-3">
           
            <div class="text-info text-center mt-3"><h4>Plumbing Staff</h4></div>
            <div class="text-dark text-center mt-2"><h1>03</h1></div>
        </div>
    </div>
    <div class="col-md-3">
      <div class="card border-warning mx-sm-1 p-3">
         
          <div class="text-success text-center mt-3"><h4>Electrician</h4></div>
          <div class="text-dark text-center mt-2"><h1>10</h1></div>
      </div>
  </div>
  <div class="col-md-3">
    <div class="card border-warning mx-sm-1 p-3">
        
        <div class="text-danger text-center mt-3"><h4>Mechanical Staff</h4></div>
        <div class="text-dark text-center mt-2"><h1>05</h1></div>
    </div>
</div>
           </div>
      </div>
      
  </div>
</div>





  <!-- ======= Footer ======= -->
     
  {% include 'footer.html'%}
  <!-- End Footer -->


  <!--Javascript-->
  <script src="/static/script.js"></script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>